@import '../../style/App.scss';

#about {
  padding: 60px 0;
}

@media screen and (max-width: 990px) {
  #about {
    text-align: center;
  }
}
.reasons-list {
  
  list-style: disc;
  padding-left: 20px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;


  li {
    margin-top: 3rem;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    &::after {
      content: '\2713'; // Unicode for check mark
      margin-left: 10px;
      color: green;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}